<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd" >
    <context:annotation-config />
    <context:component-scan base-package="com.spigit.citi"/>

    <!--********** Spring Data Source FROM **********-->
    <bean id="dataSourceFROM" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${from.jdbc.driverClassName}"/>
        <property name="url" value="${from.jdbc.url}"/>
        <property name="username" value="${from.jdbc.username}"/>
        <property name="password" value="${from.jdbc.password}"/>
    </bean>

    <!--********** Spring Data Source TO **********-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${to.jdbc.driverClassName}"/>
        <property name="url" value="${to.jdbc.url}"/>
        <property name="username" value="${to.jdbc.username}"/>
        <property name="password" value="${to.jdbc.password}"/>
    </bean>
    <context:property-placeholder location="database.properties"/>

    <!--********** SessionFactory **********-->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.spigit.citi.model" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
                <prop key="hibernate.jdbc.batch_size">20</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.connection.SetBigStringTryClob">true</prop>
            </props>
        </property>
    </bean>


    <!--********** TransactionManager **********-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--********** TransactionMonitorService **********-->
    <bean id="transactionMonitorService" class="com.spigit.citi.service.TransactionMonitorService">
        <property name="dataSource" ref="dataSourceFROM"/>
    </bean>

    <!--********** TransactionQueueDaoImpl **********-->
    <bean id="transactionQueueDao" class="com.spigit.citi.dao.TransactionQueueDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!--********** TransactionQueryDaoImpl **********-->
    <bean id="transactionQueryHistoryDao" class="com.spigit.citi.dao.TransactionQueryHistoryDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

</beans>